<section class="flex flex-col items-center" data-test-question-form>
  <p class="flex flex-col items-center my-8 space-y-8" data-test-question-form-prompt>
    <div>
      <label class="flex flex-col text-zinc-800 space-y-2" for={{this.formId}}>
        <span class="text-zinc-50 bg-zinc-900 text-sm rounded-md p-2 my-4" data-test-question-form-hint>Use <b>{{if @question.definedArticle "der/die/das..." "ein/eine..."}}</b></span>
        <span class="text-lg">Type your answer</span>
      </label>
    </div>
    <div class="text-lg text-zinc-800">
      <span>{{get this.questionPrompt "0"}}</span>
      <Input
        class="w-20 text-center rounded-md bg-fuchsia-50 focus:bg-white hover:bg-fuchsia-100
        border border-sm border-cerise
        disabled:bg-zinc-200 disabled:text-zinc-600 disabled:border-zinc-400"
        id={{this.formId}}
        @value={{@promptAnswer}} disabled={{@showSolution}}
        onInput={{@onChange}} onKeyup={{this.submitByKeyboard}}
        data-test-question-form-input />
      <span>{{get this.questionPrompt "1"}}</span>
    </div>
  </p>

  <ActionButton @onClick={{this.submit}} disabled={{this.isFormDisabled}} data-test-question-form-submit>
    Check
  </ActionButton>

  {{#if @showSolution}}
    <div class="flex flex-row mt-8 items-center space-x-2">
      {{#unless @question.isCorrect}}
        <span class="text-base">Expected answer: </span>
      {{/unless}}
      <span class="text-lg {{if @question.isCorrect "text-cyan-700" "text-zinc-800"}} font-bold" data-test-question-form-correct-answer>
        {{@question.fullAnswer}}
      </span>
      {{#if @question.isCorrect}}
        <div
        class="bg-azure font-bold rounded-full text-zinc-900 p-2"
        data-test-question-form-success>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" class="w-4 h-4">
            <title>Checkmark</title>
            <desc>Your answer is correct!</desc>
            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
          </svg>
        </div>
      {{/if}}
    </div>
    {{#unless @question.isCorrect}}
      <p class="mt-8" data-test-question-form-difference>
        <span class="bg-orange-300 text-zinc-800 p-2 rounded-sm line-through" data-test-question-form-difference-current>{{@question.userAnswer}}</span>
        <span class="bg-azure text-zinc-800 p-2 rounded-sm font-bold" data-test-question-form-difference-expected>{{@question.answer}}</span>
      </p>
    {{/unless}}
  {{/if}}
  </section>
