{{page-title "Exercise"}}

<QuestionForm
  @question={{@model}}
  @onChange={{this.changePrompt}}
  @onSubmit={{this.submit}}
  @showSolution={{this.showSolution}}
  @promptAnswer={{this.promptAnswer}}
/>

{{#if this.showSolution}}
  {{#unless this.isFinished}}
    <div class="basis-1/4 text-center mt-8">
      <LinkTo
        class="bg-cerise hover:bg-fuchsia-700 focus:bg-fuchsia-700 hover:bg-fuchsia-900 text-zinc-900 font-semibold rounded-md p-2
        text-center"
        @route="exercises.exercise"
        @model={{this.practiceSession.currentQuestionId}}
        data-test-exercise-next>Next</LinkTo>
    </div>
  {{/unless}}
{{/if}}
