{{page-title "Exercise"}}

<QuestionForm
  @question={{@model}}
  @onChange={{this.changePrompt}}
  @onSubmit={{this.submit}}
  @showSolution={{this.showSolution}}
  @promptAnswer={{this.promptAnswer}}
/>

{{#if this.showSolution}}
  {{#unless this.isFinished}}
    <div class="basis-1/4 text-center mt-8">
      <ActionButton
        @route="exercises.exercise"
        @model={{this.practiceSession.currentQuestionId}}
        data-test-exercise-next>
        Next
      </ActionButton>
    </div>
  {{/unless}}
{{/if}}
